# Copy into .dev.vars and rename. .dev.vars у .gitignore — nothing to commit.

# https://freelancehunt.com/my/api2
FH_TOKEN=

# Token from @BotFather
TG_TOKEN=

# Your chat id: write to the bot somthing then open in browser
# https://api.telegram.org/bot<TG_TOKEN>/getUpdates and take result[0].message.chat.id
TG_CHAT_ID=
